/*====================================================
                    BRAINSTORM
======================================================

FEATURES

* simple navbar
* lots of white space
* subtle background movement
* two or four project
    -use cards
    -scrolling gif showing off website project
    -transform on hover
    -make them POP


-----------------------------------------------------*/






body {
    background-color: rgba(191, 248, 255, 0.35);
    color: black;
}
.section-title {
    text-align: center;
    margin: 1.5rem auto; /* centers div and gives top and bottom margin */
}
#white-space-div {
    height: 4rem;
}
.section-title + p {
    background-color:white;
    border:1px solid rgba(0,0,0,.125); /* matches default BootStrap */
    padding: .75rem 1.25rem;
}
.btn {
    border:1px solid rgba(70, 70, 70, 0.9);
}
ul > .list-group-item { /* does not style navbar */
    border:1px solid rgba(70, 70, 70, 0.9);
}

/*===========
    Navbar
=============*/

    /* match default bootstrap link color */
.custom-toggler {
    border-color: #007bff;
}
.custom-toggler:hover {
    border-color: rgba(0,86,179, 1);
}

    /* match default bootstrap link color on hover*/
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,123,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler:hover .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,86,179, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


/*===========
    Cards
=============*/

.card {
    border-color: rgb(66, 66, 66);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
}
.card-img-top {
    max-height: 500px;
}
    /* hides gif unless media query below is active */
#website-project-gif {
    display: none;
}
@media screen and (min-width: 767px) { /* gif is only 1.5mb but wanted to practice a media query */
#website-project-gif {
    display: block;
    }
#website-project-img {
    display: none;
    }
}


/*===========
   Dark Mode
=============*/

.whiteText {
    color:white;
}